body {
  font-family: Arial, sans-serif; /* Fuente de texto de toda la página */
  background: linear-gradient(135deg, #008080, #ffff00); /* Fondo degradado diagonal */
  color: #128,0,0; /* Color de texto blanco */
  text-align: left ; /* Centra el texto horizontalmente +/
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  margin: 0; /* Quita los márgenes por defecto */
  display: flex; /* Activa flexbox */
  justify-content: left; /* Centra el contenido horizontalmente */
  align-items: left; /* Centra el contenido verticalmente */
}

.container {
  background: rgba(128,0,0); /* Fondo negro semitransparente */
  padding: 30px; /* Espacio interno alrededor del contenido */
  border-radius: 20px; /* Bordes redondeados */
  width: 80%; /* Ocupa 80% del ancho de la pantalla */
  max-width: 500px; /* No supera los 500px de ancho */
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3); /* Sombra para dar efecto flotante */
}

h1 {
  margin-bottom: 21px; /* Espacio debajo del título */
  font-size: 25px; /* Tamaño de letra del título */
}

#quote {
  font-size: 23px; /* Tamaño de letra de las citas */
  margin: 22px 0; /* Espacio arriba y abajo */
  min-height: 60px; /* Altura mínima para evitar que el cuadro cambie de tamaño cuando cambia el texto */
}

button {
  background: #ffff00; /* Color de fondo naranja */
  border: none; /* Sin borde */
  padding: 12px 20px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de letra */
  border-radius: 15px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a "mano" al pasar encima */
  transition: 0.3s; /* Suaviza las transiciones al pasar el mouse */
}

button:hover {
  background: #ffff00; /* Color más oscuro al pasar el mouse */
}



















